{
  "env": {
    "browser": true,
    "es2021": true,
    "node": true
  },
  "extends": ["airbnb", "eslint:recommended"],
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "rules": {
    "linebreak-style": ["error", "unix"],
    "quotes": ["error", "single"],
    "semi": ["error", "always"],
    "import/extensions": [0, "always"],
    "@html-eslint/indent": ["error", 2],
    "@html-eslint/require-closing-tags": [
      "error",
      {
        "selfClosing": "always"
      }
    ]
  },
  "plugins": ["html", "@html-eslint"],
  "overrides": [
    {
      "files": ["*.html"],
      "parser": "@html-eslint/parser",
      "extends": ["plugin:@html-eslint/recommended"]
    }
  ]
}
